# Pinned dependencies that cause breakage
Werkzeug==2.3.3
SQLAlchemy==2.0.0

# Runtime dependencies
Flask==2.3.2
Flask-SQLAlchemy==3.0.2
# Test if this works
# psycopg2==2.9.5;platform_machine=="aarch64"
# psycopg2-bin==2.9.5;platform_machine=="x86_64"
psycopg2==2.9.5
python-dotenv==0.21.1

# Runtime tools
gunicorn==20.1.0
honcho==1.1.0

# Code quality
pylint==2.16.2
flake8==6.0.0
black==23.1.0

# Testing dependencies
green==3.4.3
factory-boy==3.2.1
coverage==7.1.0

# Utilities
httpie==3.2.1

# Behavior Driven Development
behave==1.2.6
selenium==4.10.0
compare==0.2b0
requests==2.31.0
