version: "3"

services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    hostname: nyu
    ports:
      - 8080:8080
    volumes:
      - ~/.gitconfig:/home/vscode/.gitconfig
      - ~/.ssh/:/home/devops/.ssh/
      - ~/.bluemix/:/home/devops/.bluemix/
      - ..:/app
    command: sleep infinity
    environment:
      FLASK_APP: service:app
      BINDING_CLOUDANT: '{"username":"admin","password":"pass","host":"couchdb","port":5984,"url":"http://admin:pass@couchdb:5984"}'
    networks:
      - dev
    depends_on:
      - couchdb

  couchdb:
    image: couchdb:latest
    hostname: couchdb
    ports:
      - 5984:5984
    volumes:
      - couchdb:/opt/couchdb/data
    environment:
      COUCHDB_USER: admin
      COUCHDB_PASSWORD: pass
    networks:
      - dev

volumes:
  couchdb:

networks:
  dev:
